<a href="https://colab.research.google.com/github/natalia-mvieira/RecuperacaoDados_Nanodrop/blob/main/Sele%C3%A7%C3%A3o_do_Comprimento_de_Onda_no_Espectro_NanoDrop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pathlib import Path

caminho = Path(r'') #insiro o caminho da pasta contendo os espectros
planilhas = caminho.iterdir()
data = []
dose = []
abss = []
tabela = pd.DataFrame()
for planilha in planilhas:
    xl = pd.ExcelFile(r'{}'.format(planilha)) #planilha deve estar no formato "Planilha de trabalho Excel"
    res = len(xl.sheet_names)
    num_paginas = list(range(1,res))
    for i in num_paginas:
        arquivo = pd.read_excel(r'{}'.format(planilha), '{}'.format(i))
        arquivo['Title'] = arquivo['Title'].astype('str')
        arquivo['Wavelength (nm)'] = arquivo['Wavelength (nm)'].astype('str')
        ciano = arquivo['Title'][0][:3]
        if ciano != '230': #busco pelo código 230, que identifica uma das espécies. O mesmo foi feito para 159 e 163.
            pass
        else:
            dia_mes = str(arquivo['Time'][0])
            data.append(dia_mes[:5])
            titulo = arquivo['Title'][0].split()
            dose.append(titulo[1])
            abss.append(arquivo['10mm Absorbance'][560]) #pega OD em 750nm, 560 é a linha na planilha onde está esse comprimento de onda.
tabela['Data'] = pd.DataFrame(data)
tabela['Dose (J)'] = pd.DataFrame(dose)
tabela['abs'] = pd.DataFrame(abss)
display(tabela)

      Data Dose (J)    abs
0    19/01        0  0.023
1    19/01        0  0.024
2    19/01        0  0.027
3    19/01        0  0.027
4    19/01      100  0.014
..     ...      ...    ...
570  16/02      100  2.719
571  16/02        0  3.054
572  16/02        0  2.938
573  16/02        0  3.016
574  16/02        0  2.795

[575 rows x 3 columns]

In [ ]:
tabela.to_excel(r'Radiação 230.xlsx')